name: Bunkai Auto Update

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  security-events: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.BUNKAI_GITHUB_TOKEN || github.token }}
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.36'
      - name: Install dependencies
        run: cpanm --installdeps . --notest
      - name: Analyze cpanfile
        run: perl bunkai.pl --path . --sarif bunkai_results.sarif
      - name: Upload sarif
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: bunkai_results.sarif
